# Data Preparation

In [1]:
import numpy as np
import pandas as pd
import math
from datetime import datetime, timedelta
import pickle
import re

# show a sample source file size
sample = pd.read_feather("/Users/huilingchen/Documents/GitHub/indeed_web_scraper/source/11_12_2020")
sample.shape

(171, 7)

In [2]:
# combine all feather file from source folder
import os
import glob

dir_name = "/Users/huilingchen/Documents/GitHub/indeed_web_scraper/source"
os.chdir(dir_name)

all_filenames = [i for i in glob.glob('*')]
combined_source = pd.concat([pd.read_feather(f) for f in all_filenames], ignore_index=True)
combined_source

,Title,Company,Location,Link,Salary,Date,Description
0,Identity and Access Management Support Analyst...,Solu Technology Partners,None,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,None,10/28/2020,Title: Identity and Access Management Support ...
1,Lawson/Infor Systems Analyst,Arch Staffing & Consulting,None,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"$80,000 - $90,000 a year",10/28/2020,Location: Spokane WA (remote during COVID)\nSa...
2,Forecast Analyst,Nexeo Plastics,"Dublin, OH 43016",https://www.indeed.com/rc/clk?jk=af3b81fe16665...,None,10/28/2020,"Date: Oct 28, 2020\nLocation: Dublin, OH, US, ..."
3,Production Support Analyst,Accenture,"Columbus, OH",https://www.indeed.com/rc/clk?jk=a19089fc3d9a2...,None,10/28/2020,Accenture Flex offers you the flexibility of l...
4,Corrections Data Analyst II,"JPMorgan Chase Bank, N.A.","Columbus, OH",https://www.indeed.com/rc/clk?jk=03a530d9989ff...,None,10/28/2020,Position Overview\nCCB Remediation and Correct...
...,...,...,...,...,...,...,...
923,Sr. Business Analyst,"Yashco Systems, Inc.","Hilliard, OH 43026",https://www.indeed.com/rc/clk?jk=4ad1929ff49f7...,"$103,834 a year",08/30/2020 prior,Sr. Business Analyst (Multiple Positions with ...
924,Sr Business Analyst (Zelle),The Paragon Group,"Columbus, OH 43230",https://www.indeed.com/rc/clk?jk=7352307aaa5da...,None,08/30/2020 prior,"The Paragon Group is a Columbus, Ohio based In..."
925,Application Support Analyst,The Paragon Group,"Columbus, OH 43230",https://www.indeed.com/rc/clk?jk=09dbfea9eb940...,None,08/30/2020 prior,"The Paragon Group is a Columbus, Ohio based In..."
926,"Business Systems Analyst, Salesforce",Veeva Systems,"Columbus, OH 43220 (Sawmill Ravines area)",https://www.indeed.com/rc/clk?jk=2477e11410e99...,None,08/30/2020 prior,"At Veeva, we build enterprise cloud technology..."
927,Cisco Network Infrastructure Analyst,Crossroads Technologies,"Columbus, OH",https://www.indeed.com/rc/clk?jk=4c0d76714db1b...,None,08/30/2020 prior,We are currently seeking experienced technolog...

In [3]:
df_indicator = pd.DataFrame()
df_indicator['SAS'] = np.where(combined_source['Description'].str.contains('SAS'), 'True','False')
df_indicator['python'] = np.where(combined_source['Description'].str.contains('python', flags=re.IGNORECASE),'True','False')
df_indicator['SQL'] = np.where(combined_source['Description'].str.contains('spl', flags=re.IGNORECASE),'True','False')
df_indicator['R'] = np.where(combined_source['Description'].str.contains(' R | R,'),'True','False')
df_indicator['excel'] = np.where(combined_source['Description'].str.contains('excel', flags=re.IGNORECASE),'True','False')
df_indicator

       SAS python    SQL      R  excel
0    False  False  False  False  False
1    False  False  False  False   True
2    False  False  False  False  False
3    False  False  False  False  False
4     True   True  False   True   True
..     ...    ...    ...    ...    ...
923  False  False  False  False  False
924  False  False  False  False   True
925  False  False  False  False   True
926  False  False  False  False   True
927  False  False  False  False   True

[928 rows x 5 columns]

In [4]:
percentage = pd.DataFrame()
percentage['sas_percentage'] = df_indicator['SAS'].value_counts(normalize=True) * 100 
percentage['python_percentage'] = df_indicator['python'].value_counts(normalize=True) * 100 
percentage['excel_percentage'] = df_indicator['excel'].value_counts(normalize=True) * 100 
percentage['R_percentage'] = df_indicator['R'].value_counts(normalize=True) * 100 
percentage['sql_percentage'] = df_indicator['SQL'].value_counts(normalize=True) * 100 
percentage

,sas_percentage,python_percentage,excel_percentage,R_percentage,sql_percentage
False,95.689655,91.918103,39.978448,96.551724,95.043103
True,4.310345,8.081897,60.021552,3.448276,4.956897

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt
 
# read a titanic.csv file
# from seaborn libraray
df = sns.load_dataset(percentage)
 
# who v/s fare barplot 
sns.barplot(x = 'tool',
            y = 'usage',
            data = df)
 
# Show the plot
plt.show()

ModuleNotFoundError: No module named 'seaborn'